<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout_base">
<title layout:fragment="topTitle">用户管理</title>
    <script type="text/javascript" layout:fragment="pageScript"></script>
<script type="text/javascript" src="ureport-asserts/venderjs/jquery.min.js"></script>
<script type="text/javascript" src="ureport-asserts/venderjs/bootstrap.min.js"></script>
<script type="text/javascript" src="ureport-asserts/venderjs/Chart.bundle.min.js"></script>
<script type="text/javascript" src="ureport-asserts/venderjs/chartjs-plugin-datalabels.min.js"></script>
<script type="text/javascript" src="ureport-asserts/venderjs/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="ureport-asserts/js/preview.bundle.js"></script>
<div  layout:fragment="appHeader"><span style="margin-left: 10px;">用户管理</span></div>
<div layout:fragment="content">
<!--    <div style="display: flex;justify-content: ">-->

<!--    </div>-->

    <div class="container">
        <a href="http://localhost:8080/ureport/word?_u=用户信息列表模板.ureport.xml" >word</a>
        <a href="http://localhost:8080/ureport/excel?_u=用户信息列表模板.ureport.xml" >execl</a>
        <a href="http://localhost:8080/ureport/pdf?_u=用户信息列表模板.ureport.xml" TARGET="_blank">pdf</a>

        <div class="box">
            <div class="column">
                <span class="item"></span>
                <span class="item"></span>
            </div>
            <div class="column">
                <span class="item"></span>
                <span class="item"></span>
            </div>
        </div>
        <h2 style="display: flex; position: sticky;top:10px;">用户列表</h2>
        <p>简单用户信息展示</p>
        <script th:inline="javascript">
            var msg = [[${js_variable}]];
            console.log(msg);
        </script>
        <button type="button" class="btn btn-default ureport-print" style="display:inline-block;padding:0;background:#f8f8f8;border:none;margin:3px" title="在线打印">
            <img src='ureport-asserts/icons/print.svg' width="20px" height="20px">
        </button>
        <table class="table">
            <thead >
            <tr>
                <td>姓名</td>
                <td>性别</td>
                <td>年龄</td>
                <td>联系方式</td>
                <td>状态</td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userSex}"></td>
                    <td th:text="${user.userAge}"></td>
                    <td th:text="${user.userPhoneNum}"></td>
                    <td th:text="${user.userState}"></td>
                </tr>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userSex}"></td>
                    <td th:text="${user.userAge}"></td>
                    <td th:text="${user.userPhoneNum}"></td>
                    <td th:text="${user.userState}"></td>
                </tr>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userSex}"></td>
                    <td th:text="${user.userAge}"></td>
                    <td th:text="${user.userPhoneNum}"></td>
                    <td th:text="${user.userState}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</html>
