<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjyq.user.dao.UserDao">

    <!--  根据id获取用户信息   -->
    <select id="getUserById" parameterType="java.lang.String" resultType="com.yjyq.user.dto.User">
        SELECT   USERID,USERNAME,USERSEX,USERAGE,USERNO,USERPHONENUM,CREATETIME,MODIFYTIME,USERSTATE
            FROM USER
            WHERE USERID=#{userId}
    </select>

    <!--  查询用户集合  -->
    <select id="findUserList" resultType="com.yjyq.user.dto.User">
        SELECT   USERID,USERNAME,USERSEX,USERAGE,USERNO,USERPHONENUM,CREATETIME,MODIFYTIME,USERSTATE
            FROM USER
    </select>

    <!--   添加用户-->
    <insert id="addUser" parameterType="com.yjyq.user.dto.User">
        INSERT INTO User (USERID,USERNAME,USERSEX,USERAGE,USERNO,USERPHONENUM,CREATETIME,MODIFYTIME,USERSTATE)
            VALUES(sys_guid(), #{userName}, #{userSex}, ${userAge}, #{userNo}, #{userPhoneNum},sysdate,sysdate, #{userState});
    </insert>

    <!--  更新用户  -->
    <update id="updateUser" parameterType="com.yjyq.user.dto.User">
        update User
            set USERNAME=#{userName},
                USERSEX=#{userSex},
                USERAGE=${userAge},
                USERNO=#{userNo},
                USERPHONENUM=#{userPhoneNum},
                MODIFYTIME=sysdate,
                USERSTATE=#{userState}
             where USERID=#{userId}
    </update>
    <!--  删除用户  -->
    <delete id="deleteUserById" parameterType="java.lang.String">
        delete from user where userId = #{userId}
    </delete>
</mapper>